<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lounge</title>

    <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>


    <link rel="stylesheet" href="/Lounge-1.0.0/css/vendor.css">
    <link rel="stylesheet" href="/Lounge-1.0.0/css/styles.css">


    <link rel="apple-touch-icon" sizes="180x180" href="/Lounge-1.0.0/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Lounge-1.0.0/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Lounge-1.0.0/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>